/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';
/*@import '@nativescript/theme/css/orange.css';*/

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

/*
if the native script cannot find app.css it will fetch for app.android.css and app.ios.css
until unless you pass alternative css file path for bootstrap module in main.ts
*/
.nt-form{
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;    
}
  
.input{
  border-bottom-width: 2;
  border-color: #7c015d;
  width:100%
}

.nt-input{
  width:80%
}

.nt-form .nt-input .nt-label{
  color:#7c015d;
  font-weight: bold;    
  font-family: 'Oswald','Oswald-Bold','Oswald-Regular';
}


.btn{
  width:80%;
  background:#7c015d;
  color:white;
  border-radius: 50%;
}

.btn.logout{
  font-size: 24;
}

.drawerContainer{
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 20;
}


ActionBar{
  background:#7c0157;
}

/*
 Android will search for the file name in this case (Font-Awesome) while
 IOS will search for the name so FontAwesome class name in side the Font-Awsome file
 pre-append the unicode with \u or &#x for the icon to show
 refer https://docs.nativescript.org/ui-and-styling.html#using-icon-fonts-in-nativescript
*/
.fa{
  font-family: 'FontAwesome', 'Font-Awesome-5';
}

.fas{
  font-family: 'FontAwesome','Font-Awesome-5-Solid';
}