FlexboxLayout{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Button{
    margin-bottom: 3%;
}

.btn{
    width: 300;
}

.btn-success{
    background: green;
    border-color: green;
    color:white;
}

.btn-failed{
    background:red;
    border-color: red;
    color:white;
}

.-primary{
    background:#7c015d;
    color:white;
}

.-simple{
    background: transparent;
    color: #7c015d;
}

.-rounded-lg{
    height: 50;
}