/*
 *{
    background-color: white;
 }
*/

.title{
    text-align: center;
    color: #7c015d;
    font-weight: bold;
    margin-top: 10;
}

.page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20;
}

.weekday{
    color: #2b0c72;
    font-weight: bold;
    font-size: 16;
}

.day{
    justify-content: center;
    align-items: center;
    width: 40;
    height: 40;
    margin: 10;
    border-color: #7c015d;
    border-radius: 50%;
    border-width: 1;
    color:#7c015d;
}