<!--<ListView [items]="currentChallenges">
    <ng-template let-challenge="item" let-index="index">
        <GridLayout rows="40,auto" columns="50,*">
            <Label [text]="index" row="0" col="0" rowSpan="2"></Label>
            <Label [text]="challenge" row="0" col="1"></Label>
            <Label text="Item content row 2" row="1" col="1"></Label>
        </GridLayout>
    </ng-template>
</ListView> -->
<ns-action-bar title="Current challenge" [showBackButton]="false">
    <ActionItem android.position="actionBar" nsRouterLink="/challenges/replace" pageTransition="slideLeft">
        <Label text="Replace"></Label>
    </ActionItem>
    <ActionItem android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft">
        <Label text="Edit"></Label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout>
            <Label class="h1" text="Take a walk"></Label>
            <Label class="body" text="Walk atleast 20 minutes"></Label>
        </StackLayout>
        <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label *ngFor="let weekDay of weekDays; let i = index" 
            class="text-center weekday"
            width="100%"
            [text]="weekDay" 
            row="0" 
            [col]="i"></Label>

            <FlexboxLayout class="day"
            [row]="getRow(i,day)"
            [col]="day.dayInWeek"
            *ngFor="let day of days;let i = index">
                <Label 
                style="font-size:14"                 
                [text]="day.dayInMonth">
                </Label>
            </FlexboxLayout>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>