<div class="row">         
    <!--<div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
    </div>-->
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;margin-top: 25vh;margin-left: 20vh;">
        <app-loading-spinner></app-loading-spinner>
    </div>      
    <div class="card" *ngIf="!isLoading" >
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="container" style="justify-content:flex-start;align-content: center;">
               <div class="container" style="padding-top: 5vh;align-items: center;">
                <h3 class="card-title" style="font-weight: bolder; font-size: 7vh;">Welcome</h3>
               </div>
               <div class="container" style="padding-top: 4vh;align-items: center;">
                <h3><i class="material-icons md-48">font_download</i></h3>
               </div>                             
            </div>
            <div class="card-body container" style="justify-content: flex-end; align-items: center;">
                <section style="margin-top:4vh;"><label><input class="input-grad email" type="text" placeholder="Email" ngModel name="Email" email required (focus)="emailValid=true"/>
                    <span class="placeholder-text">
                        Email
                    </span> 
                    <div class="EmailVaidator" *ngIf="!emailValid && authForm.controls.Email && authForm.controls.Email.dirty" >
                        Valid email is: a@b.c 
                    </div>
                </label></section>
                <section style="margin-top: 6vh;"><label>
                    <input  class="input-grad password" 
                    type="password" 
                    placeholder="Password" 
                    ngModel 
                    name="password" 
                    minlength="6"
                    (focus)="passwordValid=true"
                    required/>
                    <span class="placeholder-text">Password</span>
                    <div class="PasswordVaidator" *ngIf="!passwordValid && authForm.controls.password && authForm.controls.password.dirty">
                        Enter password 
                    </div>
                </label></section>
            </div>
            <div class="card-body container" style="justify-content: flex-start;align-items: center;">
                <button type="submit">{{isLoginMode ? 'Login':'Sign Up'}}</button>
                <div style="text-align: center!important;">
                    <span class="signupLink">
                        Don’t have an account?
                        </span>
                        <a class="signUp" type="button" (click)="onSwitchMode()">
                        {{!isLoginMode ? 'Login':'Sign Up'}}
                        </a>
                </div>
            </div>
            </form>
    </div>
</div>