<div class="row">               
    <div class="card" >
            <div class="container" style="justify-content:flex-start;align-content: center;">
               <div class="container" style="padding-top: 5vh;align-items: center;">
                <h3 class="card-title" style="font-weight: bolder; font-size: 7vh;">Welcome</h3>
               </div>
               <div class="container" style="padding-top: 4vh;align-items: center;">
                <h3><i class="material-icons md-48">font_download</i></h3>
               </div>                             
            </div>
            <div class="card-body container" style="justify-content: flex-end; align-items: center;">
                <section style="margin-top:4vh;"><label><input class="input-grad email" type="text" placeholder="Email"/><span class="placeholder-text">Email</span></label></section>
                <section style="margin-top: 6vh;"><label><input class="input-grad password" type="password" placeholder="Password" data-validate="Enter Password"/><span class="placeholder-text">Password</span></label></section>
            </div>
            <div class="card-body container" style="justify-content: flex-start;align-items: center;">
                <button type="submit">Login</button>
                <div style="text-align: center!important;">
                    <span class="signupLink">
                        Don’t have an account?
                        </span>
                        <a class="signUp" href="#">
                        Sign Up
                        </a>
                </div>
            </div>
    </div>
</div>