.modal{
    position:fixed;
    height: 50vh;
    width: 80%;
    left: 10%;
    top: 25vh;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1{
    color:#7c015d !important;
}