<ns-action-bar [title]="isCreating ? 'Replace Challenge':'Edit challenge'" [hasMenu]="false"></ns-action-bar>
<FlexboxLayout class ="nt-form">
    <StackLayout class="nt-input">
        <Label class="nt-label"  text ="Title"></Label>
        <TextField class="input" returnKeyType="next" required></TextField>
    </StackLayout>
    <StackLayout class="nt-input">
        <Label class="nt-label"  text ="Description"></Label>
        <TextView class="input" returnKeyType="done" required></TextView>
    </StackLayout>
    <Button class="-primary" text="Save"></Button>
</FlexboxLayout>