/*
 *{
    background-color: white;
 }
*/

.title{
    text-align: center;
    color: #7c015d;
    font-weight: bold;
    margin-top: 10px;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.weekday{
    color: #2b0c72;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0;
}

.grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-color: #7c015d;
    border-radius: 50%;
    border-width: 1px;
    color:#7c015d;
    font-size: 14px;
    cursor: pointer;

    @media (min-width: 768px){
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}

.completed{
    background: green;
    color:white;
}

.failed{
    background: red;
    color:white;
}

.not-settable{
    background: #ccc;
    color:#535353;
    cursor: not-allowed;
}
