<!--<ListView [items]="currentChallenges">
    <ng-template let-challenge="item" let-index="index">
        <GridLayout rows="40,auto" columns="50,*">
            <Label [text]="index" row="0" col="0" rowSpan="2"></Label>
            <Label [text]="challenge" row="0" col="1"></Label>
            <Label text="Item content row 2" row="1" col="1"></Label>
        </GridLayout>
    </ng-template>
</ListView> -->
<ns-action-bar title="Current challenge" [showBackButton]="false">
    <ActionItem android.position="actionBar" nsRouterLink="/challenges/replace" pageTransition="slideLeft">
        <Label text="&#xf0fe;" class="fa p-10" fontSize="24"></Label>
    </ActionItem>
    <ActionItem *ngIf="currentChallenge" android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft">
        <Label text="&#xf044;" class="fa p-10" fontSize="24"></Label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout *ngIf="!currentChallenge">
            <Label text="No challenge found!"></Label>
            <Button class="btn -primary" text="Create One!" nsRouterLink="/challenges/replace" pageTransition="slideLeft"></Button>
        </StackLayout>
        <StackLayout *ngIf="currentChallenge">
            <Label class="h1" [text]="currentChallenge.title"></Label>
            <Label class="body" [text]="currentChallenge.description"></Label>
        </StackLayout>
        <GridLayout *ngIf="currentChallenge" rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label *ngFor="let weekDay of weekDays; let i = index" 
            class="text-center weekday"
            width="100%"
            [text]="weekDay" 
            row="0" 
            [col]="i"></Label>

            <FlexboxLayout 
            class="day"
            [ngClass]="{'not-settable': !getIsSettable(day.dayInMonth), 'completed': day.status === 1, 'failed': day.status === 2}"
            [row]="getRow(i,day)"
            [col]="day.dayInWeek"
            *ngFor="let day of currentChallenge.days;let i = index"
            (tap)="onChangeStatus(day)">
                <Label 
                style="font-size:14"                 
                [text]="day.dayInMonth">
                </Label>
            </FlexboxLayout>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>